/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

body:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(47, 44, 44, 0.85);
    opacity: 0;
    transition: opacity .3s ease;
    z-index: -999;
}

body.overlay-enable:before {
    opacity: .8;
    z-index: 500;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: rgba(47, 44, 44, 0.85);
    opacity: .8;
    z-index: 25;
}

.overlay_search {
    z-index: 9998;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.overlay_search:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(37, 35, 35, 0.97);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0.04) translateY(9999px);
    transform: scale(0.04) translateY(9999px);
    overflow: hidden;
}

.overlay_search .form_search-wrap {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    min-width: 70vw;
    opacity: 0;
}

.overlay_search .form_search-wrap form {
    position: relative;
    transition: all .3s ease;
}

.overlay_search .form_search-wrap form .overlay_search-input {
    background-color: transparent;
    padding: 0 0 25px;
    border: none;
    border-bottom: 2px solid #707070;
    color: #707070;
    font-size: 24px;
    transition: all .3s ease;
}

.overlay_search .form_search-wrap form .overlay_search-input:hover {
    border-bottom: 2px solid #fff;
    color: #acacac;
}

.overlay_search .form_search-wrap form .overlay_search-input:hover+.overlay_search-close span {
    background: #acacac;
}

.overlay_search .form_search-wrap form .overlay_search-input:focus {
    border-bottom: 2px solid #4cc2c0;
    color: #fff;
}

.overlay_search .form_search-wrap form .overlay_search-input:focus+.overlay_search-close span {
    background: #4cc2c0;
}

.overlay_search .form_search-wrap form .overlay_search-close {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    right: -5px;
    top: 0;
}

.overlay_search .form_search-wrap form .overlay_search-close span {
    display: block;
    height: 2px;
    background: #707070;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    transition: all .3s ease;
    top: 50%;
    position: absolute;
}

.overlay_search .form_search-wrap form .overlay_search-close span:first-of-type {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.overlay_search .form_search-wrap form .overlay_search-close span:last-of-type {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.open .overlay_search {
    top: 0;
}

.open .overlay_search:before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
    animation: menu-animation 0.8s ease-out forwards;
}

.open .overlay_search .form_search-wrap {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: opacity 3s ease-out, -webkit-transform 1s ease-out;
    transition: opacity 1s ease-out, -webkit-transform .5s ease-out;
    transition: transform .5s ease-out, opacity 1s ease-out;
    transition: transform .5s ease-out, opacity 1s ease-out, -webkit-transform .5s ease-out;
    transition-delay: .5s;
}

@-webkit-keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        transition: ease-out;
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }

    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }

    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        transition: ease-out;
    }

    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }

    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }

    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

.right-menu {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 500px;
    height: 100%;
    z-index: 555;
    transition: all .4s ease;
    transform: translateX(100%);
    will-change: transform;
    background-color: #fff;
}

.right-menu.opened {
    transform: translateX(0%);
}

.right-menu.opened .right-menu-wrap .user-menu-close {
    transform: scale(1);
    opacity: 1;
}

@media (max-width: 570px) {
    .right-menu {
        display: none;
    }
}

.right-menu .right-menu-wrap {
    padding: 80px 75px 30px;
    background-color: #fff;
}

.right-menu .right-menu-wrap .user-menu-close {
    position: absolute;
    left: -36px;
    top: 83px;
    width: 70px;
    height: 70px;
    border: 3px solid #2f2c2c;
    border-radius: 50%;
    z-index: 35;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: .3s;
}

@media (max-width: 768px) {
    .right-menu .right-menu-wrap .user-menu-close {
        width: 50px;
        height: 50px;
        border-width: 3px;
        left: auto;
        right: 15px;
        top: 15px;
    }
}

.right-menu .right-menu-wrap .user-menu-close .user-menu-content {
    width: 64px;
    height: 64px;
    background-color: #f15b26;
    border: 4px solid #fff;
    border-radius: 50%;
    position: relative;
    display: block;
}

@media (max-width: 768px) {
    .right-menu .right-menu-wrap .user-menu-close .user-menu-content {
        width: 44px;
        height: 44px;
        border-width: 2px;
    }
}

.right-menu .right-menu-wrap .user-menu-close .user-menu-content span {
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    transition: all .3s ease;
    left: 25%;
    top: 50%;
    position: absolute;
}

.right-menu .right-menu-wrap .user-menu-close .user-menu-content span:first-of-type {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.right-menu .right-menu-wrap .user-menu-close .user-menu-content span:last-of-type {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.right-menu .text {
    margin-bottom: 0;
}

.right-menu .login .login-title,
.right-menu .login .heading-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.right-menu .login .login-btn-wrap {
    overflow: hidden;
    padding-bottom: 20px;
    display: table;
}

.right-menu .login .login-btn-wrap .btn {
    float: left;
    margin-right: 20px;
}

.right-menu .login .login-btn-wrap .remember-wrap {
    display: table-cell;
    vertical-align: middle;
}

.right-menu .login .login-btn-wrap .remember-wrap .checkbox {
    position: relative;
}

.right-menu .login .login-btn-wrap .remember-wrap .checkbox input[type=checkbox] {
    display: none;
}

.right-menu .login .login-btn-wrap .remember-wrap .checkbox label {
    padding-left: 30px;
    color: #2f2c2c;
}

.right-menu .login .login-btn-wrap .remember-wrap .checkbox label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    bottom: 5px;
    border-radius: 3px;
    background-color: #4cc2c0;
    border: none;
}

.right-menu .login .login-btn-wrap .remember-wrap .checkbox input[type=checkbox]:checked+label:before {
    content: "\2714";
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 14px;
}

.right-menu .login .helped,
.right-menu .login .helped a {
    color: #4cc2c0;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

.right-menu .login input {
    margin-bottom: 25px;
}

.right-menu .contacts {
    display: block;
}

.right-menu .contacts .contacts-title,
.right-menu .contacts .heading-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.right-menu .contacts .contacts-text {
    margin-bottom: 30px;
}

.right-menu .contacts .contacts-item {
    margin-bottom: 20px;
}

.right-menu .contacts .contacts-item img {
    float: left;
    margin: auto 30px auto auto;
}

.right-menu .contacts .contacts-item .content {
    overflow: hidden;
}

.right-menu .contacts .contacts-item .content a {
    font-size: 22px;
    color: #2f2c2c;
    transition: all .3s ease;
}

.right-menu .contacts .contacts-item .content a:hover {
    color: #4cc2c0;
}

.right-menu .contacts .contacts-item .content .sub-title {
    font-size: 14px;
    color: #acacac;
    margin-bottom: 0;
}

.right-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #4cc2c0;
}

.right-menu .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(76, 194, 192, 0.85);
}

.right-menu .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.right-menu .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(76, 194, 192, 0.9);
}

.right-menu .mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(76, 194, 192, 0.5);
}

.right-menu .widget {
    padding: 30px 75px 40px;
    margin-bottom: 0;
}

.right-menu .widget:nth-child(even) {
    background-color: transparent;
}

.right-menu .widget:nth-child(odd) {
    background-color: #f7f9f9;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-container {
    flex: 1 0 auto;
}
      
